@import "app";

@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('../font/brandon_bld-webfont.eot');
    src: url('../font/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/brandon_bld-webfont.woff') format('woff'),
         url('../font/brandon_bld-webfont.ttf') format('truetype'),
         url('../font/brandon_bld-webfont.svg#brandon_grotesquebold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'brandon_grotesqueRgIt';
    src: url('../font/brandon_reg_it-webfont.eot');
    src: url('../font/brandon_reg_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/brandon_reg_it-webfont.woff') format('woff'),
         url('../font/brandon_reg_it-webfont.ttf') format('truetype'),
         url('../font/brandon_reg_it-webfont.svg#brandon_grotesqueRgIt') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'brandon_grotesque_regularRg';
    src: url('../font/brandon_reg-webfont.eot');
    src: url('../font/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/brandon_reg-webfont.woff') format('woff'),
         url('../font/brandon_reg-webfont.ttf') format('truetype'),
         url('../font/brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

$black: #141313;
$gold: #EABC31;
$light-gold: #756B58;
$grey: #413e3b;
$light-grey: #9e9790;

html,body{height:100%;}
body{
	font-family: 'Roboto Slab', serif;
	color: #dcdcdc;
	background: $black;
	font-weight:400;
}
h1, h2, h3, h4, h5, h6{
	color: #dcdcdc;
	font-family: 'brandon_grotesquebold', Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 6pt;
}
h1{font-size: 28pt;letter-spacing: 8pt;}
h3{font-size:14pt;}
p{
	color:$light-grey;
	letter-spacing: 0.025em;
	padding: 0 50px;
	line-height: 2.5em;
	font-size: 0.938em;
}
a{color:$grey; &:visited{color:$grey;} &:hover{color:$gold;}}
::-moz-selection{color:#fff; background:$gold;}
::selection{color:#fff; background:$gold;}
@mixin upper-font{
	font-family: "soleil", Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 6pt;
}
@mixin v-align{
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.cf{@include clearfix;}
.load{
	background:$black;
	position:absolute;
	z-index: 99;
	width:100%;
	height: 100%;
	.loading{
		@include v-align;
		width: 172px;
		height: 60px;
	}
}

#page{height:100%;}
.fill{height:100%;}
.site-content{height:100%; padding-top: 3%;}
// .site-main{
// 	margin: 80px 0;
// 	h4{font-size: 1em;margin-bottom:60px;}
// }
.post.blog-list{
	margin: 40px 0;
	border-bottom: 1px solid $grey;
}
.title{
	font-family: 'brandon_grotesquebold', "soleil", Helvetica, sans-serif;
	text-transform: uppercase;
	font-size:2em;
	letter-spacing: 0.2em;
}
.entry-meta{
	letter-spacing: 0.05em;
	font-family: 'Roboto Slab', serif;
	font-weight:400;
	color: $grey;
	&.date{
		float: left;
		padding-top: 18px;
		padding-left: 10px;
	}
}
.tags-links{
	text-transform: uppercase;
	padding-top:19px;
}
.gold{color:$gold;}

@mixin transition{
	-webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}
a.mr-button{
	opacity: 0;
	display:inline-block;
	padding: 20px 40px;
	margin: 40px;
	font-family: 'brandon_grotesquebold', 'soleil', Helvetica, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size:0.7em;
	letter-spacing:0.5em;
	background:none;
	border: 2px solid $light-grey;
	color: $light-grey;
	@include transition;
	&:hover{
		color: $black;
		background:$gold;
		border: 2px solid $grey;
	}
}
.site-header{
	position:absolute;
	width:100%;
	z-index:1;
	nav{
		height: 50px;
		background: $black;
		color: #fff;
		border-bottom: 1px solid $grey;
		text-align: center;
		@include upper-font;
		letter-spacing: 4pt;	
		a, a:visited{color:#fff;}
		a:hover, .current-menu-item > a{color:$gold;}
		ul{
			display: inline-block;
			li{padding: 15px;font-size: 12px; a{@include transition;}}
		}
	}
}
footer.site-footer{
	background: $black;
	color: $grey;
	font-size: 0.813em;
	height: 30px;
	.site-info{
		text-align: center;
		padding-top:10px; 
	}
	a{
		color:$grey;
		&:hover{color:$light-gold;}
	}
}
.site-branding{
	background: url(../img/stone-back.jpg) no-repeat center top fixed;
	height:100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	.brand-container{
		height: 386px;
		@include v-align;
	}
		h1{
			color: #B2ADA3;
			font-size:1.8em;
			margin: 1em 0 0;
			letter-spacing: 0.5em;
			opacity: 0;
		}
		h3{opacity:0;}
		.site-description{
			color: $grey;
			font-size: 0.903em;
			letter-spacing: 0.3em;
			font-family: 'brandon_grotesque_regularRg', "soleil", Helvetica, sans-serif;
		}
}
.about{
	background: url(../img/about-back.jpg) no-repeat center top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	.about-container{
		@include v-align;
		height: 535px;
		max-width: 880px;
	}
	.moto{
		font-family: 'brandon_grotesque_regularRg', "soleil", Helvetica, sans-serif;
		max-width: 535px;
		margin: 0 auto;
		font-size: 1.5em;
		line-height: 1.5em;
		span{
			font-family: 'brandon_grotesqueRgIt', Helvetica, sans-serif;
			font-style: italic;
			font-size: 0.8em;
			color:$gold;
		}
	}
}
.contact{
	background: url(../img/contact-back.jpg) no-repeat center top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	.contact-container{
		@include v-align;
		height: 300px;
		max-width: 680px;
	}
	.social{
		width: 225px;
		margin:40px auto 0;
		.icon{
			@include transition;
			height: 25px;
			width: 25px;
			background: url(../img/social-icons.png) no-repeat;
			float: left;
			margin-left: 20px;
			&:hover{background: url(../img/social-icons2.png) no-repeat;}
		}
		.twitter{background-position: -30px 0; &:hover{background-position: -30px 0;}}
		.instagram{background-position: -60px 0;&:hover{background-position: -60px 0;}}
		.behance{background-position: -90px 0;&:hover{background-position: -90px 0;}}
		.linkedin{background-position: -120px 0;&:hover{background-position: -120px 0;}}
	}
}
.portfolio-grid{
	padding:0;
	margin:0;
	li{
		padding:0;
		.portfolio-thumb{
			position: relative;
			cursor: pointer;
			overflow: hidden;
			.outter{
			
			}
			.inner{
				zoom: 1;
				filter: alpha(opacity=0);
				opacity: 0;
				position: absolute;
				top:0;
				background:$black;
				width: 100%;
				height: 100%;
				padding: 40px;
				@include upper-font;
				&:hover{color:#fff;}
				.center-container.is-table{
					display: table;
					height: 100%;
					width: 100%;
					.table-cell{
						display: table-cell;
						vertical-align: middle;
					}
					.center-block{
						width: 80%;
						margin: 0 auto;
						text-align: center;
					}
					h3{color:$gold; margin:0;}
					span{
						color:$light-gold;
						font-size: 0.7em;
					}
					hr{width:0;margin:10px auto;}
				}
			}
		}
	}
}
.portfolio, .blog-single{
	header{
		height: 500px;
		overflow: hidden;
		position: relative;
		background: $gold;
		.title{
			@include v-align;
			width: 50%;
			height: 25%;
			text-align: center;
			@media #{$small-only}{width: 80%;}
			h1{color: $black;
				@media #{$small-only} {
				font-size: 0.75em;
				}
			}
			.project-type{
				font-size: 0.5em;
				color: #fff;
				@media #{$small-only}{font-size: 0.35em;}
			}
			.studio{
				font-family: 'Roboto Slab', serif; 
				font-size: 0.4em;
				color: $grey;
			}
		}
	}
	.entry-content{
		margin-top: 80px;
		margin-bottom: 120px;
		.columns{
			text-align: center;
			p{text-align:left;}
			img{margin: 40px 0;}
		}
		.credits{
			font-size: 0.9em;
			text-align: right;
			color: $light-grey;
			@media #{$small-only}{text-align: center;}
			div{
				margin: 10px 0;
				@media #{$small-only}{margin: 5px 0;}
				strong.title{
					font-size: 0.9em;
				}
			}
		}
	}
}